/*/////UNIVERSAL/////*/


*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: helvetica;
  font-size: 18;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
/*  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: #f6f9fc;*/
  color: #FFFFFF;

}


a {
  color: inherit;
  text-decoration: none;
}

/*margin: 0*/

fieldset {
  border: none;
  margin: 0 auto;
  padding:0;
}

legend {
  display: none;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer; 
  outline: none;
  padding: 0;
}

/*/////HEADER/////*/

header {
  background-color: #3E2A34;
  color: #FFFFFF;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  padding: 25px;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}

.logo {
  height: 45px;
}

/*search*/

.search {
  width: 37%
}

.search-input {
  border-radius: 5px 0 0 5px;
  border: 2px solid #C1B2B4;
  font-size: 18px;
  padding: 8px;
  width: 75%;
  z-index: 1;
}

.search-btn {
  align-items: center;
  background-color: #C1B2B4;
  border-bottom: 3px solid #C1B2B4;
  border-radius: 0 5px 5px 0;
  color: #FFFFFF;
  margin: 0 0 0 -8px;
  width: 15%;
}

.mag {
  font-size: 23px;
  padding: 7px 0;
}

/*/////MAIN/////*/
main {
  width: 100%;

}


/*form*/

.form-section {
  background-color: #3E2A34;
  padding-bottom: 35px;
}

.new-foto-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container,
.btn-container {
  display: flex;
  width: 50%;
}

.label {
  color: #C1B2B4;
  font-size: inherit;
  font-weight: normal;
  margin: 10px 0;
}

.form-btn {
  background-color: #5B4447;
  color: inherit;
  margin-top: 35px;
  padding: 15px;
}
.new-foto-input {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.view-favs-btn,
.add-btn {
  width: 45%;
}
.btn-container-div {
  display: flex;
  justify-content: space-between;
}

.choose-file-alias {
  text-align: center;
}
.add-file {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

/*/////CARD/////*/
.empty-gallery {
  display: none
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

h6 {
  text-align: center;
  font-size: 25px;
  color: #76372d;
}
h5 {
  color: #5B4447;
}
.cards-section {
  background-color: #C1B2B4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 95%;
  min-height: 50vh;
  margin: 20px;
}

.foto-card {
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #5B4447;
  border-radius: 2px;
  margin: 2%;
  min-width: 200px;
  width: 20%;
}

.foto-img {
  max-height: 160px;
  object-fit: cover; 
  width: 100%;
}

.card-title,
.card-caption {
  margin-left: 1rem;
  outline: none;
}

.card-caption {
  height: 40px;
}

.card-buttons {
  background-color: #5B4447;
}

.card-btn {
  background-color: #5B4447;
  color: #938284;
  height: 30px;
  width: 30px;
  margin: 12px;
}

.card-btn-active {
  display: none;
}

.card-btn:hover .card-svg,
.card-btn:active .card-svg {
  display: none;
}
.card-btn:hover .card-btn-active,
.card-btn:active .card-btn-active {
  display: block;
}

.card-svg {
  height: 100%;
  width: 100%;
}

.heart-btn {
  float: right;
}

.unfav {
  display: none;
}

.favorite {
  display: block;
}

/*/////FOOTER/////*/

.footer {
  display: none;
}
.visible-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

@media only screen 
  and (min-width: 717px) and (max-width: 1005px) {
    .foto-card {
      min-width: 200px;
      width: 25%;
      margin: 2%;
    }

    .gallery {
      width: 100%;
      margin-left: 40px;
    }
  }

  @media only screen 
  and (max-width: 716px) {
    header {
      display: block;
      text-align: center;
      padding: 10px;
    }
    h1 {
      font-size: 30px;
    }

    h1,
    .search {
      margin: 20px auto;
    }
    .logo {
      height: 30px;
    }
    .search {
      width: 90%;
    }
    .input-container,
    .btn-container {
      width: 80%;
    }

    .foto-card {
      width: 40%;
      margin: 2%;
    }

  }

  @media only screen 
  and (max-width: 500px) {
    .gallery {
      justify-content: center;
    }
    .foto-card {
      width: 80%;
    }
    .foto-img {
      max-height: 200px;
    }
}


